In [ ]:
top_length = 15
bottom_length = 20
height = 5
area = (top_length+bottom_length)*height/2
print(str(area)+"c㎡")

87.5c㎡

In [ ]:
# 変数の設定
top_length = 15 #　上辺
bottom_length = 20 #　下辺
heigth = 2 # 高さ

# 台形の面積を計算
area = (top_length +bottom_length) * heigth / 2

# 結果の出力
print(str(area)+"c㎡")

35.0c㎡

# 新しいセクション

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

# 2番目の要素である「侍一郎」という文字列だけを取り出して表示する
user_names[1] = "侍花子"
user_names.append("侍五郎")
user_names.pop(2)

print(user_names)

['侍太郎', '侍花子', '侍三郎', '侍四郎', '侍五郎']

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

print(user_names[1])

user_names[1] = "侍花子"
print(user_names)

user_names.append("侍五郎")
print(user_names)

user_names.pop(2)
print(user_names)

侍一郎
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎']
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍花子', '侍三郎', '侍四郎', '侍五郎']

In [ ]:
country_names = ("日本", "アメリカ", "イギリス", "フランス")

# 3番目の要素を取り出す
print(country_names[2])

# すべての要素を取り出す
print(country_names)

イギリス
('日本', 'アメリカ', 'イギリス', 'フランス')

In [ ]:
country_names = {"日本", "アメリカ", "イギリス", "フランス"}

# セット全体を表示
print(country_names
      )

{'イギリス', 'アメリカ', 'フランス', '日本'}

In [ ]:
prime_names = {2, 5, 2, 7, 3, 5, 5}
print(prime_names)

{2, 3, 5, 7}

In [ ]:
prime_numbers = {2, 3, 5, 7}

# セット全体を表示
print (prime_names)

prime_numbers.add(11
                  )
print(prime_numbers)

prime_numbers.remove(3)
print(prime_numbers)

{2, 3, 5, 7}
{2, 3, 5, 7, 11}
{2, 5, 7, 11}

In [ ]:
sports = {1: "サッカー", 2: "野球", 3: "バスケット"}
sports[2] = "バドミントン"
sports[4] = "水泳"
print(sports)

{1: 'サッカー', 2: 'バドミントン', 3: 'バスケット', 4: '水泳'}

In [ ]:
stationery_prices = {"鉛筆": 70, "ボールペン": 120, "シャープペンシル": 150, "消しゴム": 90}
stationery_prices.pop("シャープペンシル")
print(stationery_prices)

{'鉛筆': 70, 'ボールペン': 120, '消しゴム': 90}

In [ ]:
# 連想配列を作成
personal_data = {"name": "侍太郎", "age": 36, "gender": "男性"}

#　キー「name」の値を表示
print(personal_data["name"])

#連想配列全体を表示
print(personal_data)

personal_data["age"] = 37
personal_data["address"] = "東京都"
print(personal_data)

侍太郎
{'name': '侍太郎', 'age': 36, 'gender': '男性'}
{'name': '侍太郎', 'age': 37, 'gender': '男性', 'address': '東京都'}

# 新しいセクション

In [5]:
var = 10
if var % 3 == 0 and var % 5 == 0:
    print("FizzBuzz")
elif var % 3 == 0:
    print("Fizz")
elif var % 5 == 0:
    print("Buzz")
else:
    print(var)

Buzz