In [ ]:
top_length = 15
bottom_length = 20
height = 5
area = (top_length+bottom_length)*height/2
print(str(area)+"c㎡")

87.5c㎡

In [ ]:
# 変数の設定
top_length = 15 #　上辺
bottom_length = 20 #　下辺
heigth = 2 # 高さ

# 台形の面積を計算
area = (top_length +bottom_length) * heigth / 2

# 結果の出力
print(str(area)+"c㎡")

35.0c㎡

# 新しいセクション

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

# 2番目の要素である「侍一郎」という文字列だけを取り出して表示する
user_names[1] = "侍花子"
user_names.append("侍五郎")
user_names.pop(2)

print(user_names)

['侍太郎', '侍花子', '侍三郎', '侍四郎', '侍五郎']

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

print(user_names[1])

user_names[1] = "侍花子"
print(user_names)

user_names.append("侍五郎")
print(user_names)

user_names.pop(2)
print(user_names)

侍一郎
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎']
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍花子', '侍三郎', '侍四郎', '侍五郎']

In [ ]:
country_names = ("日本", "アメリカ", "イギリス", "フランス")

# 3番目の要素を取り出す
print(country_names[2])

# すべての要素を取り出す
print(country_names)

イギリス
('日本', 'アメリカ', 'イギリス', 'フランス')

In [ ]:
country_names = {"日本", "アメリカ", "イギリス", "フランス"}

# セット全体を表示
print(country_names
      )

{'イギリス', 'アメリカ', 'フランス', '日本'}

In [ ]:
prime_names = {2, 5, 2, 7, 3, 5, 5}
print(prime_names)

{2, 3, 5, 7}

In [ ]:
prime_numbers = {2, 3, 5, 7}

# セット全体を表示
print (prime_names)

prime_numbers.add(11
                  )
print(prime_numbers)

prime_numbers.remove(3)
print(prime_numbers)

{2, 3, 5, 7}
{2, 3, 5, 7, 11}
{2, 5, 7, 11}

In [ ]:
sports = {1: "サッカー", 2: "野球", 3: "バスケット"}
sports[2] = "バドミントン"
sports[4] = "水泳"
print(sports)

{1: 'サッカー', 2: 'バドミントン', 3: 'バスケット', 4: '水泳'}

In [ ]:
stationery_prices = {"鉛筆": 70, "ボールペン": 120, "シャープペンシル": 150, "消しゴム": 90}
stationery_prices.pop("シャープペンシル")
print(stationery_prices)

{'鉛筆': 70, 'ボールペン': 120, '消しゴム': 90}

In [ ]:
# 連想配列を作成
personal_data = {"name": "侍太郎", "age": 36, "gender": "男性"}

#　キー「name」の値を表示
print(personal_data["name"])

#連想配列全体を表示
print(personal_data)

personal_data["age"] = 37
personal_data["address"] = "東京都"
print(personal_data)

侍太郎
{'name': '侍太郎', 'age': 36, 'gender': '男性'}
{'name': '侍太郎', 'age': 37, 'gender': '男性', 'address': '東京都'}

# 新しいセクション

In [ ]:
var = 10
if var % 3 == 0 and var % 5 == 0:
    print("FizzBuzz")
elif var % 3 == 0:
    print("Fizz")
elif var % 5 == 0:
    print("Buzz")
else:
    print(var)

Buzz

In [ ]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
import random
for i in range(1,11):
    num = random.randint(1,20)
    print(f"{i}回目の結果は{num}です。")
    if num == 20:
        print("20が出たので繰り返し処理を強制終了します。")
        break

1回目の結果は11です。
2回目の結果は11です。
3回目の結果は10です。
4回目の結果は2です。
5回目の結果は15です。
6回目の結果は2です。
7回目の結果は3です。
8回目の結果は20です。
20が出たので繰り返し処理を強制終了します。

In [ ]:
for i in range(1,11):
    if i % 2 == 1:
        continue
    print(i)

2
4
6
8
10

In [ ]:
# ランダムな整数を利用するため、記述が必要です。
import random

# 変数numに0～4までのランダムな整数を代入する。
num = random.randint(0,4)

# 変数numの最初の値を出力する（確認用）
print(f"最初の値は{num}です。")

#　変数numの値は0以外である間、変数numの値を出力し続ける
while num != 0:
    # 変数numに0～4までのランダムな整数を代入する。
    num = random.randint(0,4)

    # 次の条件式で比較される、変数numの現在の値を出力する
    print(f"現在の値は{num}です。")

最初の値は3です。
現在の値は1です。
現在の値は2です。
現在の値は1です。
現在の値は0です。

In [ ]:
import random
num = random.randint(0,4)
i = 1
print(f"最初の値は{num}です。")
while num != 0:
    num = random.randint(0,4)
    if i == 5:

        print("5回目なので繰り返し処理を強制終了します。")
        break
    print(f"現在の値は{num}です。")
    i = i + 1

最初の値は4です。
現在の値は4です。
現在の値は4です。
現在の値は3です。
現在の値は0です。

In [ ]:
import random
sum = 0
while sum < 20:
    num = random.randint(1,10)
    print(f"{num}が出ました。")
    if num % 2 == 0:
        print("偶数なので加算しません。")
        continue
    sum = sum + num
    print(f"現在の合計は{sum}です。")

1が出ました。
現在の合計は1です。
1が出ました。
現在の合計は2です。
7が出ました。
現在の合計は9です。
4が出ました。
偶数なので加算しません。
6が出ました。
偶数なので加算しません。
9が出ました。
現在の合計は18です。
3が出ました。
現在の合計は21です。

In [1]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]
for user_name in user_names:
    print(user_name)

侍太郎
侍一郎
侍二郎
侍三郎
侍四郎

In [2]:
personal_data = {"name": "侍太郎", "age": 36, "gender": "男性"}
for key, value in personal_data.items():
    print(f"{key}は{value}です。")

nameは侍太郎です。
ageは36です。
genderは男性です。

In [4]:
personal_data = {"name": "侍太郎", "age": 36, "gender": "男性"}
for value in personal_data.values():
    print(value)

侍太郎
36
男性

In [5]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]
for index,value in enumerate(user_names):
    print(f"{index} : {value}")

0 : 侍太郎
1 : 侍一郎
2 : 侍二郎
3 : 侍三郎
4 : 侍四郎

In [6]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]
target = "侍二郎"
for user_name in user_names:
    print(user_name)
    if(user_name == target):
        print(f"{target}さんが見つかったので、繰り返し処理を強制終了します。")
        break

侍太郎
侍一郎
侍二郎
侍二郎さんが見つかったので、繰り返し処理を強制終了します。

In [8]:
score = {"国語": 80, "数学": 55, "理科": 70, "社会": 85, "英語": 60}
print("合格した科目は以下のとおりです。")
for key, value in score.items():
    if (value < 70):
        continue
    print(f"{key}: {value}点")

合格した科目は以下のとおりです。
国語: 80点
理科: 70点
社会: 85点

In [11]:
# 朝のあいさつを出力する関数を作成する
def say_goodbye_morning():
    print("おはようございます！")
    print("昨日はよく眠れましたか？")
    print("今日も一日頑張りましょう！")
def say_good_evening():
    print("こんばんは！")
    print("今日も一日お疲れさまでした。")
say_goodbye_morning()
say_good_evening()

おはようございます！
昨日はよく眠れましたか？
今日も一日頑張りましょう！
こんばんは！
今日も一日お疲れさまでした。

In [12]:
def calculate_total(price):
    total = price + 500
    print(f"{total}円")
calculate_total(1200)

1700円

In [13]:
def add_two_arguments(price,shipping_fee):
    # 与えられた引数priceと引数shipping_feeを加算し、変数totalに代入する
    total = price + shipping_fee
    # 変数$totalの値を出力する
    print(f"{total}円")
# 関数を呼び出し、引数として購入金額と送料を渡す
add_two_arguments(1200,500)

1700円

In [14]:
# 購入済かどうかを判定する変数
purchased = True
# 戻り値を返す関数を定義する
def is_purchased():
    if (purchased):
        return True
    else:
        return False
# 戻り値を返す関数を条件式に使う(Trueであれば処理が実行される)
if (is_purchased()):
    print("商品は購入済みです。")

商品は購入済みです。

# 新しいセクション

In [42]:
def add_two_arguments(price, price1):
    total = price + (price*price1)
    print(f"{total}円")
add_two_arguments(1000,0.1)

1100.0円